<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{{htmlWebpackPlugin.options.title}}</title>
    <style>
        #homework-container {
            position: relative;
            border: 1px solid #000;
            height: 100vh;
        }

    </style>
</head>
<body>
<div id="homework-container">
    {{> "./dnd-content.hbs"}}
</div>
</body>
</html>
