{{#each items}}
  <div class="column {{class}}">
    <div class="search">
      <input type="text" id="search" placeholder="Начните вводить имя друга">
    </div>
    <div class="friends-list">
      <div class="friends-title">{{title}}</div>
      <div class="friends-container">
      </div>
    </div>
  </div>
{{/each}}